<div class="row">
	<div class="large-12 columns">
		<div class="panel radius">
			<%= simple_form_for @report do |f| %>
	  			<h5>Report info</h5>
				<%= f.input :title, label: "Name", required: true %>
				<%= f.input :content %>
				<p></p>
				<%= f.button :submit,:class=>"button round" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>