<div class="row">
	<div class="large-12 columns">
		<p style="padding:10px;"><%= link_to "Back to reports", reports_path ,:class=>"button radius secondary" %><p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= render 'form' %>
	</div>
</div>
