<div class="row">
	<div class="span12">
		<h2>Manage Reports</h2>
		<div><%= link_to "Create an report", new_report_path, :class=>"button round", :style=>"float:right;" %></div>
		<%= render 'grid' %>
	</div>
</div>